*{
    padding: 0%;
    margin: 0%;
}

.image
{
    position: absolute;
    width: 100%;
    height:100%;
}

.contact_box
{
    position: absolute;
    top: 8px;
    right: 112px;
    color:#a20a0afc;
    font-size: 5px;
}
.place_box
{
    position: absolute;
    top: 8px;
    right: 83px;
    color:#a20a0afc ;
    font-size: 5px;
}
.blog_box
{
    position: absolute;
    top: 8px;
    right: 60px;
    color:#a20a0afc;
    font-size: 5px;
}
.offer
{
    position: relative;
    animation-name: example;
    animation-duration: 8s;
    animation-delay: 1s;
    border-radius: 50%;
    right: 140px;
    left: 10px;
    top: 45px;
    width: 40px;
    height:auto;

}
@keyframes example {
    0%   {background-color: red; left:0px; top:0px;}
    25%  {background-color: yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:100px;}
    75%  {background-color: green; left:0px; top:100px;}
    100% {background-color: pink; left:0px; top:0px}
}
.place
{
    position: absolute;
    background: #c8c4be;
    width: 45px;
    height: auto;
    margin-left: 120px;
    margin-top: 5px;  
}
.area
{
    margin-left:2px;
    font-family:sans-serif;
    font-size:10px  
}
.place1
{
    margin-top: 17px;
    position: absolute;
    margin-left:0;
}
.place2
{
    position: absolute;
    margin-right:0;
    margin-top: 90px;
    margin-left: 150px;
}
.place3
{
    position: absolute;
    margin-top:164px ;
    margin-left: 0;
}
.place4
{
    margin-right:0;
    margin-top: 238px;
    margin-left: 150px;
}
.pra1
{
    position:relative;
    font-size: 4px;
    margin-top: -295px;
    margin: right 0;
    color: blue;
    margin-left: 150px;
}
.pra2
{
    position: relative;
    font-size: 4px ;
    margin-top: -100;
    margin: left 0;
    color: blue;
    margin-right:150px ;
}
.pra3
{
    position: relative;
    font-size:4px ;
    margin-top:-100 ;
    margin: right 0;
    color: blue;
    margin-left: 150px;
}
.pra4
{
    position: relative;
    font-size:4px ;
    margin-top: -100;
    margin: left 0;
    color: blue;
    margin-right: 150px;
}
